* {
    margin: 0%;
    padding: 0%;
}
.carousel-inner {
    height: 400px;
}
.slider-img {
    height: 500px;
}
.morado {
    background: rgb(139, 14, 201);
}
.naranja {
    background: rgb(247, 169, 44);
}
.bg-gray {
    background: rgb(185, 183, 183);
}
